In [1]:
import sys
sys.path.append('../script/')
from prepare_data import DataPreparationTrain
from results_visualisation import ResultsEvaluation, ResultsVisualisation

import ultralytics
ultralytics.checks()
from ultralytics import YOLO

Ultralytics YOLOv8.0.207 ðŸš€ Python-3.10.12 torch-2.1.0 CPU (Apple M1)
Setup complete âœ… (8 CPUs, 8.0 GB RAM, 243.8/460.4 GB disk)

In [2]:
images_path = '../data/all_images/'
annotation_path = "../data/train_annotation/"
annotation_filename = "_annotation.csv"
data = DataPreparationTrain(images_path, annotation_path, annotation_filename, (640,640))
data.import_annotation()
data.get_image_original_size()
data.scaling()
data.preparing_data_for_YOLO()
data.im_original_size

                  0     1
794099712.jpg   768  1024
107347968.jpg   782  1280
575078400.jpg   194   259
599261184.jpg   768  1024
51642368.jpg    850  1280
...             ...   ...
763822080.jpg   425   640
19333120.jpg    351   850
111345664.jpg   348   492
1050017792.jpg  480   640
999489536.jpg   683  1024

[2350 rows x 2 columns]

In [3]:
data.annotation_completed

,im_name,class,x_min,y_min,x_max,y_max,models,x_mid,y_mid,w,h
0,1000407040.jpg,1,11.200000,66.560000,627.200000,576.000000,Toyota Sequoia SUV 2012,0.498750,0.502000,0.962500,0.796000
1,1000472576.jpg,1,30.052174,122.469136,577.669565,588.641975,Toyota Sequoia SUV 2012,0.474783,0.555556,0.855652,0.728395
2,1000669184.jpg,1,7.680000,125.968254,638.720000,581.079365,Toyota Sequoia SUV 2012,0.505000,0.552381,0.986000,0.711111
3,1000800256.jpg,1,87.040000,43.389831,576.000000,602.033898,Toyota Sequoia SUV 2012,0.518000,0.504237,0.764000,0.872881
4,1001324544.jpg,1,44.000000,99.555556,544.000000,522.666667,Toyota Sequoia SUV 2012,0.459375,0.486111,0.781250,0.661111
...,...,...,...,...,...,...,...,...,...,...,...
2340,993853440.jpg,1,33.750000,75.900439,571.875000,453.528551,Suzuki SX4 Sedan 2012,0.473145,0.413616,0.840820,0.590044
2341,994246656.jpg,1,36.800000,135.466667,540.000000,513.066667,Suzuki SX4 Sedan 2012,0.450625,0.506667,0.786250,0.590000
2342,999489536.jpg,1,50.000000,185.534407,587.500000,546.295754,Toyota Sequoia SUV 2012,0.498047,0.571742,0.839844,0.563690
2343,999686144.jpg,1,82.133333,244.184615,563.200000,584.861538,Toyota Sequoia SUV 2012,0.504167,0.647692,0.751667,0.532308
2344,999948288.jpg,1,56.000000,65.066667,576.000000,572.800000,Toyota Sequoia SUV 2012,0.493750,0.498333,0.812500,0.793333

In [4]:
data.download_data_for_training("../data/data_YOLO")